*{
  background-image: url(/src/images/darkback.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  margin: 0;
  padding: 0;
}
.container{
  
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-no{
  width: 272px;
 height: 40px;
 margin: 0px 0px 10px 0px;
 border-radius: 30px;
 text-align: right;
 
 font-size: 25px;
 font-weight: 400;
 color: white;
 border: 2px solid gray;
 
}


.calc-btn{
  display: grid;
  grid-template-columns:repeat(4,60px);
}

.butn{
  
 height: 55px;
 width: 55px;
 border-radius: 50%;
 font-size: 26px;
 font-weight: 500;
 font-family:Arial, Helvetica, sans-serif;
 color: white;
 border: 2px solid gray;
}

#clr{
  grid-column: 4/4;
  grid-row: 5;
  width: 70px;
  
}
#result{
  
border-radius: 30px;
  grid-column: 1/4;
  grid-row: 5;
  width: 175px;
  /* background:rgba(255, 255, 255, 0.397) ; */
  border: 2px solid gray;
  /* color: black; */
}
#result:hover{
  color: rgb(192, 176, 176);
}
.special{
  width: 95px;
  border-radius: 30px;
  margin: 1px;
  font-size: 26px;
 font-weight: 500;
 font-family:Arial, Helvetica, sans-serif;
 /* color:black; */
 color: white;
 border: 2px solid gray;
 /* background: rgba(255, 255, 255, 0.397); */
 
}
 .center{
  border: 2px solid gray;
  border-radius: 10px;
   padding: 5px;
} 
.butn:hover{
cursor: pointer;
/* color: gray; */
background: rgba(128, 128, 128, 0.432);

}
.special:hover{
  cursor: pointer;
  background:rgba(128, 128, 128, 0.432) ;
}

